<div class="example-container mat-elevation-z8">
<table mat-table [dataSource]="data" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.ID.value}} </td>
  </ng-container>

  <ng-container matColumnDef="NAME">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="Datum">
    <th mat-header-cell *matHeaderCellDef> Datum </th>
    <td mat-cell *matCellDef="let element"> {{element.Datum.value}} </td>
  </ng-container>

  <ng-container matColumnDef="PID">
    <th mat-header-cell *matHeaderCellDef> ProduktID </th>
    <td mat-cell *matCellDef="let element"> {{element.PID.value}} </td>
  </ng-container>

  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.Type.value}} </td>
  </ng-container>
  
  <ng-container matColumnDef="HerkunftID">
    <th mat-header-cell *matHeaderCellDef> HerkunftID </th>
    <td mat-cell *matCellDef="let element"> {{element.HerkunftID.value}} </td>
  </ng-container>

  <ng-container matColumnDef="PreisPS">
    <th mat-header-cell *matHeaderCellDef> PreisPS </th>
    <td mat-cell *matCellDef="let element"> {{element.Werte.PreisPS}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</table>
</div>
<table id="ActionTable">
  <tr>
    <td class="left_button_cell"><button  class="inner_button" id="Button1" mat-button  (click)="minimizeTable()">up</button></td>
    <td class="left_button_cell"><button  class="inner_button" id="Button2" mat-button  (click)="maximizeTable()">down</button></td>
    <td class="example1"><p id="P2">{{textfield}}</p></td>
  </tr>
</table> 