<div id="BasicDiv">
  <p id="Ueberschrift">{{ProduktName}}</p>
  <div id="CardDiv">

    <div id="PastDiv" (click)="PastDivExpands($event)"></div>
    <div id="WertDiv" (click)="NormalDiv($event)">
      <p id="UeberschriftValueP">{{UeberschriftValue}}</p>
      <p id="ValueP"> {{Value}}</p>
      <p id="UeberschriftDurchschnittsValueP">{{UeberschriftDurchschnittsValue}}</p>
      <p id="DurchschnittsValueP"> {{DurchschnittValue}}</p>
    </div>
    <div id="FutureDiv" (click)="FutureDivExpands($event)"></div>

  </div>
</div>

<!-- <p id="UeberschriftValueP">{{UeberschriftValue}}</p>
    <p id="ValueP"> {{Value}}</p>
    <p id="UeberschriftDurchschnittsValueP">{{UeberschriftDurchschnittsValue}}</p>
    <p id="DurchschnittsValueP"> {{DurchschnittValue}}</p> -->