<head>
  <script></script>
</head>
<p>
  camera-ocr works!
</p>

<div style="text-align:center">
  <div>
    <webcam id="Video" #Video [height]="100" [width]="100" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
    <button class="actionBtn" (click)="OCR();">make OCR</button>
    <br/>
    <!-- <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
    <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
    <br/>
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <button (click)="showNextWebcam(deviceId);">Activate</button> -->
  </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Nice one!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>


<img #pic1 id="pic1" src="../../../assets/LearningData/IsKassenBong/Kassenbon_2.jpg"> 
<img #pic2  id="pic2" src="../../../assets/LearningData/IsKassenBong/Kassonbon_1.jpg"> 
<img #pic3 id="pic3" src="../../../assets/LearningData/NoKassenBong/sjdaklösdjlköasd.jpg"> 
